@import "compass"
#admin
  color: #333333
  form
    input[type=text]
      font-size: 2em
      font-weight: bold
      background: #f3f3f3
      border: 0px
      height: 40px
      width: 97%
    input[type=submit]
      margin-bottom: 10px
      
