@mixin round-borders
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

@mixin opacity
  -moz-opacity: 0.5
  opacity: 0.5

@mixin bg_fadein
  background-image: none
  -webkit-transition: background-image 0.5s ease
  -moz-transition: background-image 0.5s ease
  -o-transition: background-image 0.5s ease
  -ms-transition: background-image 0.5s ease
  transition: background-image 0.5s ease

@mixin full_background
  background-repeat: no-repeat
  background-size: 100%

$margin-top: 15%
  
body
  color: white
  background-color: #333

  #preload
    display: none

  .bg
    width: 100%
    height: 100%
    position: absolute
    z-index: -1
    @include bg_fadein

  .bg1
    background-image: url("/images/backgrounds/bg1.jpg")
    @include full_background

  .bg2
    background-image: url("/images/backgrounds/bg2.jpg")
    @include full_background
  
  .bg3
    background-image: url("/images/backgrounds/bg3.jpg")
    @include full_background
  
  .bg4
    background-image: url("/images/backgrounds/bg4.jpg")
    @include full_background
  
  .gallery
    margin-top: $margin-top

  .logo
    @include round-borders
    @include opacity
    background-color: gray
    background-repeat: no-repeat
    margin-top: $margin-top
    width: 100%
    height: 300px

  .menu
    li
      a
        color: white
        float: left
        &:hover
          background-color: #333
        .icon-white
          margin-right: 5px
  .gallery
    li
      padding: 10px

footer
  position: absolute
  bottom: 0px
  padding: 20px 10px 10px 20px

