body
  background: url('/images/style_1.png')
  color: white
  .light
    background: url('/images/logolight_1.png')
    width: 592px
    height: 450px
    position: absolute
    top: 0px
    left: 0px


.Facebook
  .provider
    background: url('/images/facebook-256.png')
.Twitter
  .provider
    background: url('/images/twitter-256.png')
.Instagram
  .provider
    background: url('/images/instagram-256.png')

.Scream
  
.slides
  h1, h2, h3, h4, h5, p
    font-family: 'Roboto Slab', serif
  .media
    img
      position: absolute
      left: 0px
      top: 0px
      z-index: -1
  .provider
    position: absolute
    width: 256px
    height: 256px
    right: 0px
  .owner

    img
      width: 50px
