!!!
%html{"ng-app" => ""}
  %head
    %meta{"charset" => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=Edge,chrome=1"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %title= data.page.title || ""
    %meta{"name" =>"description", "content" => ""}
    %script{"src" => "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"



  %body{"class" => page_classes, "ng-controller" =>"appController"}
    .bg{"class" => "{{active_background}}"  }
    .container
      .span5
        = yield
        %footer
          %p 
            © 2013
    
    %script{"src" => "http://code.jquery.com/jquery-1.9.1.min.js"}
    
