!!!
%html{"ng-app" => "SocialScreamApp"}
  %head
    %meta{"charset" => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=Edge,chrome=1"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %title= ""
    %meta{"name" =>"description", "content" => ""}
    %script{"src" => "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{"src" => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"}
    %script{"src" => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"



  %body{"class" => page_classes, "ng-controller" =>"AppCtrl"}
    .light
    = yield

    / %footer
    /   .container
    /     .row-fluid
    /       %p 
    /         Christian Deliens Dev - 2013