.modal.hide.fade#admin
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 #25este WALL
  .modal-body
    %p 
      %h2
        Enter a tag:
      %form{ 'ng-submit' => 'getMagic()' }
        %input{ type: 'text', 'ng-model' => 'tag', placeholder: '{{tag}}'}
        %br
        %input.pull-right{ type: 'submit', value: 'Get the Magic!', class: 'btn btn-info'}
      %form.hidden.hack{ 'ng-submit' => 'reload()' }
.hide
  %img{src: 'images/facebook/facebook-64.png'}
  %img{src: 'images/twitter/twitter-64.png'}
  %img{src: 'images/instagram/instagram-64.png'}

.reveal
  .logo
  .tag
    %h1
      {{tag}}
  .row-fluid
    .slides
      %section{ id: "slide_{{$index}}", class: '{{scream.provider}}', 'ng-repeat' => ' scream in screams ', "data-state" => "{{scream.provider}}"}
        .media
          %img{ src: '{{scream.media_url}}' }
        .content
          .message
            %h1{'ng-bind-html-unsafe' => 'scream.body'}
          .owner
            %img{'class' => "strech", src: "{{scream.owner_media_url}}" }
            %h2
              {{scream.owner}}
          .provider
      %section{"data-state" => "video"}
        .media
          %video{"data-ignore" => "true", "data-autoplay" => "true", src: "/videos/promo.mp4", class: "stretch" }


  %script{src: "javascripts/vendor/reveal/reveal.js"}
  %ul.control.hide
    %li.settings{'ng-click' => 'admin_modal()'}
    %li.fullscreen
  %footer
    .row-fluid
      .container
      .marquee
        %p{ 'ng-repeat' => "message in marquee_messages"}
          %a
            {{message.text}}
